/* Dashboard */
/* .container-box {
  display: flex;
  margin: 0 auto;
  color: white;
}
.boxs {
  flex-grow: 1;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  font-size: 14px;
} */
/* .text {
  margin: 0 auto;
  color: white;
  text-align: center;
  font-weight: 800;
}
.font {
  font-size: 50px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.hasil {
  font-weight: 600;
  font-size: 20px;
} */
/* submission */

/* .formulir {
  width: 350px;
  padding: 8px;
  border-color: #54a3f0;
  border-radius: 6px;
} */
